
<mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="title-icon" routerLink="" >arrow_back</mat-icon>
      <span style="margin: auto;">Meal Schedule</span>
      <mat-icon class="title-icon" routerLink="" >save</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>



<mat-list class="schedule-list">
  <mat-list-item>

    <mat-icon matListIcon svgIcon="monday"></mat-icon>


    <div mat-line>Carbonara</div>

    <div mat-line>Pasta</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>

    <mat-icon matListIcon svgIcon="tuesday"></mat-icon>


    <div mat-line>Carbonara</div>

    <div mat-line>Pasta</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>

    <mat-icon matListIcon svgIcon="wednesday"></mat-icon>


    <div mat-line>Carbonara</div>

    <div mat-line>Pasta</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>

    <mat-icon matListIcon svgIcon="thursday"></mat-icon>


    <div mat-line>Carbonara</div>

    <div mat-line>Pasta</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>

    <mat-icon matListIcon svgIcon="friday"></mat-icon>


    <div mat-line>Carbonara</div>

    <div mat-line>Pasta</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>

    <mat-icon matListIcon svgIcon="saturday"></mat-icon>


    <div mat-line>Carbonara</div>

    <div mat-line>Pasta</div>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>

    <mat-icon matListIcon svgIcon="sunday"></mat-icon>


    <div mat-line>Carbonara</div>

    <div mat-line>Something</div>
  </mat-list-item>
  <mat-divider></mat-divider>

  
</mat-list>

<!-- https://www.cleanpng.com/png-computer-icons-calendar-clip-art-weekdays-3632404/download-png.html -->